.AuthPage {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.AuthPage h3 {
    font-size: smaller;
    margin-top: 4vmin;
    text-align: center;
    color: black;
}

.AuthPage span {
    color: var(--text-light);
    font-weight: bold;
    cursor: pointer;
}