.IndexPage {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F0E3;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.IndexContainer {
    width: auto;
    margin: auto;
    padding: 3vmin;
    background-color: white;
    border-radius: 1vmin;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}