.NewPost h1 {
    margin-bottom: 20px;
}

.NewPostContainer {
    width: 30%;
    margin: auto;
    padding: 7vmin;
    background-color: white;
    border-radius: 1vmin;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.createInput {
    width: 400%;
}

.backBtn {
    padding: 5px;
    width: auto;
    margin: 20px !important;
    font-size: 15px;
}

.backBtn:hover {
    background-color: #615954;
    transform: scale(0.9);
}