.Nav {
    background-color: white;
    border-radius: 5px;
}

a {
    color: black !important;
    font-weight: bold !important;
}

a:hover {
    color: #615954 !important;
    transform: scale(0.9);
}

.searchBtn {
    padding: 5px;
    width: 100px;
    margin: 0px !important;
    font-size: 15px;
}

.searchBtn:hover {
    background-color: #615954;
    transform: scale(0.9);
}

.searchField {
    height: 30px;
    font-size: small;
}